{% extends 'base.html.twig' %}

{% block title %}Nouveau channel{% endblock %}

{% block body %}
{{ form_start(form) }}

{{ form_end(form) }}
    <a href="{{ path('app_dashboard') }}" class="btn btn-ghost">RETOUR</a>
{% endblock %}
